Repository taskany-inc/colors: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

feat(Harmony): add new variables
  harmony/dark.css
  harmony/light.css
Due: none

chore: release 1.9.0
  .release_notes/1.9.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

chore: downgrade change-case version & bump commitlint/cli
  package-lock.json
  package.json
Due: prettier --write --parser json, node

feat(Harmony): add new input vars
  harmony/dark.css
  harmony/light.css
Due: none

refactor: remove themes generation
  .nvmrc
  README.md
  generate.js
  package-lock.json
  package.json
  palette.js
  tsconfig.esm.json
  tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

chore: release 1.10.0
  .release_notes/1.10.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat(harmony): add colors for rounded checkboxes
  harmony/dark.css
  harmony/light.css
Due: none

feat(harmony): add transition properties variables
  harmony/dark.css
  harmony/light.css
Due: none

chore: release 1.11.0
  .release_notes/1.11.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: comment border var
  harmony/dark.css
  harmony/light.css
Due: none

chore: release 1.12.0
  .release_notes/1.12.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: comment border color
  harmony/light.css
Due: none

chore: release 1.12.1
  .release_notes/1.12.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: add status background colors
  harmony/dark.css
  harmony/light.css
Due: none

chore: release 1.13.0
  .release_notes/1.13.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

fix: apply a new input colors and typo sizes
  harmony/dark.css
  harmony/light.css
Due: none

chore: release 1.13.1
  .release_notes/1.13.1.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: support ml gap
  harmony/dark.css
  harmony/light.css
Due: none

chore: release 1.14.0
  .release_notes/1.14.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  node: any of: *.json
