Repository taskany-inc/colors: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

.lintstagedrc:

{
    "*.{js,ts}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json",
        "node"
    ]
}

dependabot
  .github/dependabot.yml
Due: none

translate README.md
  README.md
Due: prettier --write --parser markdown

codereview notes: simplify export from palette
  palette.js
Due: eslint --fix, prettier --write

add husky
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write --parser json, node

linter, prettier, Wellcome info
  .editorconfig
  .eslintignore
  .eslintrc.js
  .nvmrc
  .prettierignore
  .prettierrc.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  generate.js
  package-lock.json
  package.json
  palette.js
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, node

fix background color reverse
  package.json
  palette.js
Due: eslint --fix, prettier --write, prettier --write --parser json, node

fix license type
  package.json
Due: prettier --write --parser json, node

fix prepublish script
  package.json
Due: prettier --write --parser json, node

feat: Deduplicate deps and fix theme exports
  generate.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(deps): remove useless styled-components
  package-lock.json
  package.json
Due: prettier --write --parser json, node

chore(github): add publish workflows
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/manual_publish.yml
  .github/workflows/manual_release.yml
  .github/workflows/publish.yml
Due: prettier --write --parser markdown

chore(lint): add commitlint
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(eslint): remove storybook plugin
  .eslintrc.js
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, node

chore(deps): add styled-components types
  package-lock.json
  package.json
Due: prettier --write --parser json, node

feat(palette): primaryColor layers
  palette.js
Due: eslint --fix, prettier --write

chore: release 1.1.0
  .release_bot/body
  .release_notes/1.1.0.md
  CHANGELOG.md
  package-lock.json
  package.json
  version
Due: prettier --write --parser markdown, prettier --write --parser json, node

feat: support css custom properties
  generate.js
Due: eslint --fix, prettier --write

chore: remove unused fonts
  palette.js
Due: eslint --fix, prettier --write

1.2.0
  package-lock.json
  package.json
Due: prettier --write --parser json, node

fix: copy css files to package
  package.json
Due: prettier --write --parser json, node

1.2.1
  package-lock.json
  package.json
Due: prettier --write --parser json, node

feat: harmony palette
  harmony/dark.css
  harmony/light.css
  package.json
Due: prettier --write --parser json, node

fix: ci auth problem
  .github/workflows/manual_release.yml
Due: none
